.accordion {
  @include vp-767 {
    &--open .contacts__wrapper,
    &--open .footer-navigation__list-container {
      display: block;
      padding-bottom: 15px;
    }

    &--open h3,
    &--open h3 {
      padding-bottom: 15px;
    }

    &--open h3::before,
    &--open .h3::before {
      display: none;
    }
  }
}
