.advantage {
  position: relative;
  min-height: 300px;
  padding: 40px 45px 35px;
  border: 1px solid #ebebeb;

  & svg {
    display: block;
    margin-bottom: 18px;
    fill: #00b2ff;

    @include hover {
      fill: $color-alica-blue;
    }

    @include vp-1023 {
      margin-bottom: 14px;
    }

    @include vp-767 {
      margin-bottom: 16px;
      width: 30px;
      height: 30px;
    }
  }

  & h3 {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $color-deep-sky-blue;

    @include vp-1023 {
      margin-bottom: 7px;
    }

    @include vp-767 {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  & p {
    margin: 0;
    font-family: $ff-pt-mono;

    @include vp-767 {
      padding-bottom: 39px;
      font-size: 14px;
      line-height: 19px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: $color-deep-sky-blue;
  }

  @include hover {
    & svg {
      fill: $color-alica-blue;
    }

    & h3,
    & p {
      color: $color-alica-blue;
    }

    background-color: $color-deep-sky-blue;
  }

  @include vp-1023 {
    min-height: 360px;
    padding: 37px 30px 25px 45px;
  }

  @include vp-767 {
    max-height: 340px;

    min-height: 325px;
    padding: 30px 30px 35px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
