.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0;
  margin-bottom: 120px;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    margin-bottom: 80px;
  }

  @include vp-767 {
    display: block;
    padding: 0 25px;
  }
}
