.footer-navigation__container {
  flex-basis: 56%;
  margin-right: 30px;

  @include vp-1023 {
    flex-basis: 33%;
    margin: 0;
  }

  @include vp-767 {
    // padding: 20px 25px;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }
}

.footer-navigation__title {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-767 {
    margin-bottom: 0;
    padding: 20px 25px;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 25px;
      height: 1px;
      width: 15px;
      background-color: #c4c4c4;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 25px;
      height: 1px;
      width: 15px;
      background-color: #c4c4c4;
      transform: rotate(90deg);
    }
  }
}

.footer-navigation__list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;

  @include vp-1023 {
    display: block;
  }

  @include vp-767 {
    display: none;
    // margin-top: 15px;
    padding: 0 25px;
  }
}

.footer-navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @include vp-1023 {
    &:first-child {
      margin-bottom: 10px;
    }
  }
}

.footer-navigation__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer-navigation__link {
  display: inline-block;
  font-family: $ff-pt-mono;
  color: $color-transparent;

  @include vp-767 {
    font-size: 14px;
  }
}
