.intro {
  position: relative;
  z-index: 1;

  background-image: image-set(
    url("../img/background/main-background-large.webp") 1x,
    url("../img/background/main-background-large.png") 1x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $color-black-pearl;

  @media (min-width: $vp-1024) {
    @include retina {
      background-image: image-set(
        url("../img/background/main-background-large@2x.webp") 2x,
        url("../img/background/main-background-large@2x.png") 2x
      );
    }
  }

  @include vp-1023 {
    margin-top: -100px;
    background-image: image-set(
      url("../img/background/main-background-medium.webp") 1x,
      url("../img/background/main-background-medium.png") 1x
    );

    @include retina {
      background-image: image-set(
        url("../img/background/main-background-medium@2x.webp") 2x,
        url("../img/background/main-background-medium@2x.png") 2x
      );
    }
  }

  @include vp-767 {
    margin-top: -70px;
    background-image: image-set(
      url("../img/background/main-background-small.webp") 1x,
      url("../img/background/main-background-small.png") 1x
    );

    @include retina {
      background-image: image-set(
        url("../img/background/main-background-small@2x.webp") 2x,
        url("../img/background/main-background-small@2x.png") 2x
      );
    }
  }

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(25, 32, 36, 0.7) 71.72%,
      rgba(25, 32, 36, 0) 100%
    );
  }
}

.intro__container {
  z-index: 1;
  padding: 305px 125px 280px;
  margin-bottom: 120px;

  @include vp-1023 {
    padding: 180px 0 205px;
    margin-bottom: 80px;
  }

  @include vp-767 {
    padding: 149px 24px 190px;
    margin-bottom: 50px;
  }

  & h1 {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $color-alica-blue;

    @include vp-1023 {
      margin-bottom: 0;
      font-size: 64px;
      line-height: 75px;
    }

    @include vp-767 {
      margin-bottom: 8px;
      font-size: 36px;
      line-height: 42px;
    }
  }

  & p {
    width: 65%;
    margin: 0;
    margin-bottom: 45px;
    font-family: $ff-pt-mono;
    font-size: 22px;
    line-height: 34px;
    color: $color-alica-blue;

    @include vp-1023 {
      width: 91%;
      margin-bottom: 57px;
    }

    @include vp-767 {
      width: 100%;
      margin-bottom: 44px;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.intro__button {
  display: inline-block;
  padding: 17px 27px;
  background-color: $color-deep-sky-blue;
  border-radius: 3px;
  user-select: none;
  vertical-align: baseline;

  @include hover {
    background-color: $color-alica-blue;

    & .intro__button-text {
      color: $color-deep-sky-blue;
    }
  }

  @include focus {
    outline: 2px solid $color-alica-blue;
  }

  @include active {
    opacity: 0.7;
  }

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    padding: 12px 38px;
    margin: 0 auto;
  }
}

.intro__button-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  color: $color-alica-blue;

  &--phone-visible {
    display: none;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 16px;

    &--visible {
      display: none;
    }

    &--phone-visible {
      display: block;
    }
  }
}
