.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 35px;

  @include vp-1023 {
    padding: 20px 0 25px;
  }

  @include vp-767 {
    padding: 10px 38px 20px 26px;
  }
}

.main-nav__logo-link {
  margin-right: 13%;

  @include vp-1023 {
    margin: 0;
  }
}

.main-nav__logo {
  display: block;

  &--visible {
    @include vp-767 {
      display: none;
    }
  }

  &--phone-visible {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    flex-basis: 15%;
    justify-content: space-between;
    align-self: start;
    flex-grow: 0;
    margin-right: 20px;
  }

  @include vp-767 {
    flex-basis: 37%;
    margin-right: 0;
  }
}

.main-nav__item {
  flex-basis: 36%;

  &:not(:last-child) {
    margin-right: 4%;

    @include vp-1023 {
      margin: 0;
    }
  }
}

.main-nav__mail {
  position: relative;
  font-family: $ff-pt-mono;
  line-height: 18px;
  white-space: nowrap;
  color: $color-alica-blue;
}

.main-nav__text {
  vertical-align: top;

  @include vp-1023 {
    display: none;
  }
}

.main-nav__link {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  font-family: $ff-pt-mono;
  line-height: 18px;
  white-space: nowrap;
  color: $color-alica-blue;

  @include hover {
    color: $color-background-deep-sky-blue;

    & .main-nav__icon {
      fill: $color-alica-blue;
    }
  }

  @include focus {
    outline: 2px solid $color-background-deep-sky-blue;
    border-radius: 1px;
  }

  @include active {
    opacity: 0.7;
  }

  @include vp-1023 {
    padding: 10px;
  }
}

.main-nav__icon {
  display: inline-block;
  margin-right: 7px;
  fill: $color-background-deep-sky-blue;

  @include vp-1023 {
    margin: 0;
  }
}

.main-nav__button {
  margin-right: 5%;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  border: 1px solid $color-alica-blue;
  border-radius: 3px;
  background-color: transparent;
  color: $color-alica-blue;

  @include hover {
    color: $color-background-deep-sky-blue;
    border: 1px solid $color-background-deep-sky-blue;
  }

  @include focus {
    outline: 2px solid $color-background-deep-sky-blue;
  }

  @include active {
    opacity: 0.7;
  }

  @include vp-1023 {
    display: none;
  }
}
