// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0.7);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-background-alice-blue:        #f8fdff;
$color-alica-blue:                   #f2f5f7;
$color-deep-sky-blue:                #00b2ff;
$color-background-deep-sky-blue:     #00b3ff;
$color-black-pearl:                  #041827;
$color-button-black-pearl:           #041427;

// Gradient

$black-pearl-to-bottom:                    linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга

$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13

$ff-roboto:                         "Roboto Condensed", "Arial", sans-serif;

$ff-pt-mono:                         "PT Mono", "Arial", monospace;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой

$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
